/**
 * Created by sony on 2015/12/26 0026.
 */

html, body, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: '微软雅黑';
}

ul, li {
    list-style: none;
}

a:link {
    color: #333;
    text-decoration: none
}

a:visited {
    color:#333;
    text-decoration: none;
}

a:hover {
    color: #cd0200;
    text-decoration: underline;
}

a:active {
    color: #333;
    text-decoration: none;
}


.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

/* for IE/Mac */

.l-container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.mask {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 1;
}

.mask-hover {
    display: none;
}

.my-border {
    border: 1px solid #dddddd;
}

/* header nav */
.header .login-wrapper {
    height: 30px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    font-size: 12px;
}

.header .login-wrapper .wel-word {
    float: left;
}

.header .login-wrapper ul {
    float: right;
}

.header .login-wrapper li {
    display: inline;
    /*ie7不支持inline-block*/
    margin-left: 60px;
    text-align: right;
}

.header .logo-wrapper {
    height: 75px;
}

.header .nav {
    height: 40px;
    background-color: #333333;
}

.header .nav li {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    width: 157px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    cursor: pointer;
    transition-property: background color;
    transition-duration: 0.6s;
    /* Firefox 4 */
    -moz-transition-property: background color;
    ;
    -moz-transition-duration: 0.6s;
    /* Safari 和 Chrome */
    -webkit-transition-property: background color;
    ;
    -webkit-transition-duration: 0.6s;
}

.header .nav li:hover {
    background: #f3f3f3;
    color: #333;
}

.header .nav li:hover .sub-list {
    visibility: visible;
    opacity: 0.9;
}

.header .nav .sub-list {
    position: absolute;
    z-index: 1;
    color: #000;
    background: #333333;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 0.4s;
}

/*底部栏*/

.footer {
    background: #333;
    height: 500px;
}

.footer .list {
    border-bottom: 1px solid #999;
    color: #ddd;
    padding-top: 30px;
}

.footer .item {
    /*height: 50px;*/
    width: 183px;
    float: left;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.footer .sub-list {
    position: absolute;
    top: 60px;
    color: #fff;
    width: 100%;
}

.footer .sub-item {
    color: #fff;
    height: 30px;
    line-height: 30px;
}

.footer .sub-item a {
    color: #fff;
}

.footer .search-area {
    margin-top: 320px;
}

.footer .search-area .search-wrapper {
    width: 400px;
    margin: 0 auto;
}

.footer .search-wrapper input {
    height: 40px;
    width: 300px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 8px\0; /*ie8独识hack*/
    display: block;
    float: left;
}

.footer .search-wrapper button {
    height: 40px;
    width: 100px;
    background: #fedd2c;
    border: none;
    font-size: 16px;
    display: block;
    float: left;
    transition: background 0.4s;
}

.footer .search-wrapper button:hover {
    background: yellow;
}
